@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

h1,
h2,
h3 {
    margin: 0px;
}


.main {
    display: flex;
    margin-top: 80px;
    height: 80vh;
    overflow: hidden;
    background-image: url("/src/assets/Coding-bro.png");
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width:630px) {
    .main {
        background-position: center;
        text-align: center;
    }

}

.presentation-text {
    display: flex;
    padding: 20px;
    font-size: 50px;
    height: 100%;
    text-align: center;
    align-items: center;
    color: rgb(8, 115, 237);
    text-shadow:
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    backdrop-filter: blur(1px);


}

@media (min-width:700px) {
    .presentation-text {
        align-items: end;
        backdrop-filter: inherit;
        width: 100%;
        justify-content: center;
    }
}

/*
    backdrop-filter: blur(5px);
    z-index: 1;
    font-size: 27px;
    text-align: center;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
     color: rgba(3, 128, 238, 0.653); 
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

*/