@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

h1,
h2,
h3 {
    margin: 0px;
}


.main {
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
    min-height: 80vh;
    overflow: hidden;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

@media (min-width:630px) {
    .main {
        background-position: center;
        text-align: center;
    }

}