.services-container {
    padding: 90px 10px;
    background-color: #000000e3;
    display: flex;
    flex-direction: column;
}

.services-h3 {
    margin: 0;
    color: #0fa0c7;
    ;
    font-size: 32px;
    text-align: center;
}

.services-products {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (min-width:900px) {
    .services-products {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.services-products img {
    width: 210px;
}

@media (min-width:800px) {
    .services-products img {
        width: 250px;
    }
}

.services-interfaces,
.services-backend,
.services-frontend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.services-text {
    color: white;
    text-align: center;
    padding: 0 40px;
    max-width: 600px;
}

.services-text h4 {
    border-bottom: solid 1px;
    font-size: 25px;
    color: #309292;
}