.about-presentation,
.about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.about-container {
    background-color: #2d2f30;
    width: 100%;
    display: flex;
    padding: 90px 12px;
}

.about-presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}

@media (min-width:900px) {
    .about-presentation {
        flex-direction: row;
    }
}

.about-h3 {
    color: white;
    font-size: 29px;
    margin-top: 90px;
    margin: 0;

}

.about-p {
    color: white;
    font-size: 18px;
    line-height: 30px;
    text-align: end;
    max-width: 310px;
}

.about-p {
    text-align: center;
    align-self: auto;
}

.about-img {
    /* border: solid white; */
    border-radius: 50%;
    width: 220px;
    padding: 5px;
}

@media (min-width:900px) {
    .about-img {
        width: 300px;
    }
}