.contact-container {
    display: flex;
    flex-direction: column;
    background-color: #021b2b;
    color: white;
    padding: 60px 20px;
    min-height: 88vh;
    gap: 70px;

}

@media (min-width:900px) {
    .contact-container {
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
    }
}

.contact-title {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 33px;
    margin-bottom: 30px;
    color: #0fa0c7;
}

.contact-icon,
.contact-redes {
    display: flex;
}

.contact-redes {
    flex-direction: column;
    text-align: center;
}



.contact-redes img {
    width: 60px;
}




.contact-icon {
    color: white;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.contact-link {
    display: none;
}

@media (min-width:700px) {
    .contact-name {
        display: none;
    }
}

@media (min-width:700px) {
    .contact-link {
        display: block;
    }
}

@media (min-width:700px) {
    .contact-icon {
        flex-direction: row-reverse;
        min-width: 300px;
        justify-content: center;
    }
}

@media (min-width:900px) {
    .contact-icon {
        flex-direction: row-reverse;
        min-width: 300px;
        justify-content: start;
    }
}



.contact-data-container {
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.contact-data {
    padding: 5px;
    margin-bottom: 15px;

}

@media (min-width:900px) {
    .contact-data {
        margin-bottom: 40px;
    }
}