@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

.custom-shadow:hover {
    filter: drop-shadow(0 6px 9px rgba(41, 135, 230, 0.6));
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #010101;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4578d1;
}